.kolona {     padding: 20px;
    text-align: center;
    background: rgba(255,255,255,0.8);
    width: 30%;
    margin: 10px auto;
    border-radius: 2em;
    border: 1px solid gray;}
.kolona > input { border: 1px solid black; padding: 5px;text-align: center;margin: 2px; }
.kolona > input:visited {background-color: red;}
.kolona > label {font-size: 20px;}
.kolona > h3 {text-align: center;}
#kluedo-notes {
        display: block;
    margin: auto;
    border: double 2px black;}
	body {background-image: url(https://m.media-amazon.com/images/I/91-WJkhO4iL._AC_SL1500_.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
	h1 {text-align: center; text-transform: uppercase;background-color: rgb(255,255,255,0.6);}
